<?xml version="1.0" encoding="UTF-8"?>
<target>
	<image x="0" y="0" file="targets/invader3_trans.gif">
		<tag name="points" value="15" />
		<tag name="command" value="animate;play_sound(sounds/invaderkilled.wav)" />
	</image>
</target>
