<?xml version="1.0" encoding="UTF-8"?>
<target>
	<image x="234.000000" y="28.000000" file="targets/ipsc_popper.gif">
		<tag name="command" value="play_sound(sounds/steel_sound_1.wav)" />
		<tag name="points" value="5" />
	</image>
</target>
