<?xml version="1.0" encoding="UTF-8"?>
<target>
	<ellipse centerX="334.000000" centerY="230.000000" radiusX="185.000000" radiusY="189.000000" fill="black">
		<tag name="points" value="1" />
	</ellipse>
	<ellipse centerX="336.000000" centerY="232.000000" radiusX="168.000000" radiusY="169.000000" fill="gray">
		<tag name="points" value="2" />
	</ellipse>
	<ellipse centerX="335.000000" centerY="231.000000" radiusX="149.000000" radiusY="150.000000" fill="gray">
		<tag name="points" value="3" />
	</ellipse>
	<ellipse centerX="334.500000" centerY="231.500000" radiusX="131.000000" radiusY="130.000000" fill="black">
		<tag name="points" value="4" />
	</ellipse>
	<ellipse centerX="334.500000" centerY="230.500000" radiusX="112.000000" radiusY="111.000000" fill="gray">
		<tag name="points" value="5" />
	</ellipse>
	<ellipse centerX="334.500000" centerY="229.500000" radiusX="92.000000" radiusY="93.000000" fill="black">
		<tag name="points" value="6" />
	</ellipse>
	<ellipse centerX="334.500000" centerY="231.500000" radiusX="75.000000" radiusY="74.000000" fill="black">
		<tag name="points" value="7" />
	</ellipse>
	<ellipse centerX="334.500000" centerY="230.500000" radiusX="54.000000" radiusY="55.000000" fill="black">
		<tag name="points" value="8" />
	</ellipse>
	<ellipse centerX="334.000000" centerY="230.000000" radiusX="37.000000" radiusY="36.000000" fill="blue">
		<tag name="points" value="9" />
	</ellipse>
	<ellipse centerX="334.000000" centerY="230.000000" radiusX="19.000000" radiusY="18.000000" fill="orange">
		<tag name="points" value="10" />
	</ellipse>
</target>
