<?xml version="1.0" encoding="UTF-8"?>
<target>
	<image x="182.000000" y="22.500000" file="targets/pepper_popper.gif">
		<tag name="name" value="pepper_popper" />
		<tag name="command" value="play_sound(sounds/metal_clang.wav)" />
	</image>
	<ellipse centerX="291.500000" centerY="129.500000" radiusX="108.000000" radiusY="106.000000" fill="black">
		<tag name="command" value="animate(pepper_popper);play_sound(sounds/metal_clang.wav,pepper_popper)" />
		<tag name="visible" value="false" />
	</ellipse>
</target>
