<?xml version="1.0" encoding="UTF-8"?>
<target>
	<image x="87.000000" y="215.500000" file="targets/plate-rack.png">
	</image>
	<image x="89.500000" y="3.000000" file="targets/silhouette-plate.gif">
		<tag name="command" value="animate;play_sound(sounds/steel_sound_2.wav)" />
	</image>
	<image x="442.500000" y="3.000000" file="targets/silhouette-plate.gif">
		<tag name="command" value="animate;play_sound(sounds/steel_sound_2.wav)" />
	</image>
	<image x="264.500000" y="3.000000" file="targets/silhouette-plate.gif">
		<tag name="command" value="animate;play_sound(sounds/steel_sound_2.wav)" />
	</image>
</target>
