<?xml version="1.0" encoding="UTF-8"?>
<target>
	<ellipse centerX="229.500000" centerY="69.500000" radiusX="54.000000" radiusY="52.000000" fill="black">
		<tag name="subtarget" value="1" />
	</ellipse>
	<ellipse centerX="229.500000" centerY="261.500000" radiusX="54.000000" radiusY="51.000000" fill="black">
		<tag name="subtarget" value="4" />
	</ellipse>
	<ellipse centerX="341.500000" centerY="165.500000" radiusX="55.000000" radiusY="52.000000" fill="black">
		<tag name="subtarget" value="3" />
	</ellipse>
	<ellipse centerX="464.500000" centerY="261.500000" radiusX="54.000000" radiusY="51.000000" fill="black">
		<tag name="subtarget" value="5" />
	</ellipse>
	<ellipse centerX="464.500000" centerY="70.500000" radiusX="54.000000" radiusY="53.000000" fill="black">
		<tag name="subtarget" value="2" />
	</ellipse>
</target>
