<?xml version="1.0" encoding="UTF-8"?>
<target>
	<ellipse centerX="290.500000" centerY="249.500000" radiusX="158.000000" radiusY="158.000000" fill="black">
		<tag name="points" value="5" />
	</ellipse>
	<ellipse centerX="291.500000" centerY="247.500000" radiusX="127.000000" radiusY="128.000000" fill="white">
		<tag name="points" value="6" />
	</ellipse>
	<ellipse centerX="290.500000" centerY="247.500000" radiusX="102.000000" radiusY="103.000000" fill="black">
		<tag name="points" value="7" />
	</ellipse>
	<ellipse centerX="290.500000" centerY="246.500000" radiusX="73.000000" radiusY="73.000000" fill="white">
		<tag name="points" value="8" />
	</ellipse>
	<ellipse centerX="290.500000" centerY="246.500000" radiusX="49.000000" radiusY="48.000000" fill="black">
		<tag name="points" value="9" />
	</ellipse>
	<ellipse centerX="291.500000" centerY="244.500000" radiusX="22.000000" radiusY="21.000000" fill="red">
		<tag name="points" value="10" />
	</ellipse>
</target>
