<?xml version="1.0" encoding="UTF-8"?>
<target>
	<image x="72.000000" y="72.000000" file="targets/plate_stand.png">
	</image>
	<image x="60.500000" y="91.500000" file="targets/stop_plate_rectangle.png">
		<tag name="subtarget" value="stop_target" />
		<tag name="command" value="play_sound(sounds/steel_sound_1.wav)" />
	</image>
</target>
