<?xml version="1.0" encoding="UTF-8"?>
<target>
	<ellipse centerX="40.000000" centerY="30.000000" radiusX="50.000000" radiusY="100.000000" fill="black">
		<tag name="subtarget" value="TossUP_chicken.target" />
		<tag name="points" value="10" />
		<tag name="opacity" value=".005" />
		<tag name="visible" value="true"/>
		<tag name="command" value="animate(TossUP_chicken.target);play_sound(sounds/beep.wav);" />
	</ellipse>
	<image x="0.000000" y="0.000000" file="targets/chicken.gif">
		<tag name="command" value="animate;play_sound(sounds/steel_sound_1.wav);" />
		<tag name="name" value="TossUP_chicken.target" />
		<tag name="points" value="10" />
	</image>
</target>
