<?xml version="1.0" encoding="UTF-8"?>
<target>
	<image x="0.000000" y="0.000000" file="targets/pepper_popper.gif">
		<tag name="name" value="TossUP_Pepper_Popper.target" />
		<tag name="command" value="animate;play_sound(sounds/steel_sound_1.wav)" />
		<tag name="points" value="5" />
	</image>
</target>
